.container {
    width: 537px;
    margin-left:auto;
    margin-right:auto;
    text-align:'center';
    margin-top:20px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    height:50px;
    margin-top:20px;
    width:100%;
}

.headerTitle {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    /* background-color: beige; */
}

