.rectangle {
    width: 500px;
    height: 90px;
    background-color: var(--cardColor);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.incomeRectangle {
    border-right: 1px solid #5d5d5d;
    flex: 1;
    height:65px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.expenseRectangle {
    flex: 1;
    height:65px;
}

.label {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0px;
    
    /* background-color: bisque; */
}

.income {
    color: var(--incomeColor);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0px;
}

.expense {
    color: var(--expenseColor);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0px;
}