@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --expenseColor: #C70707;
    --incomeColor: #11B00E;
    --backgroundColor: #e7e7e7;
    --cardColor: #d9d9d9;
}
* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

html, body {
    font-family: Inter;
    background-color: var(--backgroundColor);
    height:100%;
    margin:0;
}